html, body{
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", sans-serif;
    background-color: grey ;
}


.main{
    margin: auto;
    margin-top: 150px;
    display: flex;
    min-height: 300px;
    min-width: 300px;
    max-height: 100vh;
    width: 500px;
    background-color: #78D6C6;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 10px 10px;
    font-size: 20px;
}

.formbutton{
    font-size: 16px;
    background: none;
    border-radius: 6px;
    padding: 8px;
}